<div class="body"></div>
<table class="container">
  <div class="calc-screen">
    <div class="calc-operation">{{calc}}</div>
    <div class="calc-typed">{{result}}<span class="blink-me">_</span></div>
  </div>
  <tr class="calc-button-row">
    <td class="button c" (click)="getReset(item)" *ngFor="let item of ['C']">{{item}}</td>
    <td class="button l" (click)="getAction(item)" *ngFor="let item of ['≠','%','/']">{{item}}</td>
  </tr>
<tr class="calc-button-row">
    <td class="button" (click)="getAction(item)" *ngFor="let item of [7,8,9]">{{item}}</td>
    <td class="button l" (click)="getAction(item)" *ngFor="let item of ['*']">{{item}}</td>
  </tr>
  <tr class="calc-button-row">
    <td class="button" (click)="getAction(item)" *ngFor="let item of [4,5,6]">{{item}}</td>
    <td class="button l" (click)="getAction(item)" *ngFor="let item of ['-']">{{item}}</td>
  </tr>
  <tr class="calc-button-row">
    <td class="button" (click)="getAction(item)" *ngFor="let item of [1,2,3]">{{item}}</td>
    <td class="button l" (click)="getAction(item)" *ngFor="let item of ['+']">{{item}}</td>
  </tr>
  <tr class="calc-button-row">
    <td class="button" (click)="getAction(item)" *ngFor="let item of ['.',0,'<']">{{item}}</td>
    <td class="button l" (click)="getResult()" *ngFor="let item of ['=']">{{item}}</td>
  </tr>
</table>


<router-outlet></router-outlet>
